# === Redis ===
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_KEY=logstash_alert_queue

# === Telegram (WAJIB DIISI) ===
TELEGRAM_BOT=YOUR_TELEGRAM_BOT_TOKEN
TELEGRAM_CHAT_ID=YOUR_CHAT_ID
TELEGRAM_PROCESS_CHAT_ID=YOUR_PROCESS_CHAT_ID

# === AbuseIPDB (OPSIONAL) ===
ABUSEIPDB_API_KEY=YOUR_ABUSEIPDB_API_KEY

# === Cache & Timeout (opsional, detik) ===
ABUSEIPDB_CACHE_TTL=21600
IPAPI_CACHE_TTL=43200
LOOKUP_TIMEOUT=4

# === Disable / Enable Block Button ===
#DE_DISABLE_BUTTONS = os.environ.get("DE_DISABLE_BUTTONS", "1")  # 1 untuk menonaktifkan tombol khusus distributed error
#DE_DISABLE_BUTTONS=1

# === Webshell Burst Treshold ===
WEBSHELL_BURST_THRESHOLD=20
#GAMBLING_BURST_THRESHOLD=50

# === BYPASS IP ===
BYPASS_IPS="127.0.0.1,192.168.1.1"

# === Elasticsearch (Phase 0) ===
ES_HOSTS=https://YOUR_ELASTICSEARCH_HOST:9200
ES_USER=YOUR_ES_USER
ES_PASS=YOUR_ES_PASS
ES_VERIFY=false
ES_EVENTS_INDEX_PREFIX=minisoar-events
ES_LABELS_INDEX_PREFIX=minisoar-labels
ES_TIMEOUT=6
MINISOAR_EVENT_WINDOW=60

# === Security Perimeter Credentials ===
# Imperva
IMPERVA_BASE_URL=https://YOUR_IMPERVA_BASE_URL
IMPERVA_USERNAME=YOUR_IMPERVA_USERNAME
IMPERVA_PASSWORD=YOUR_IMPERVA_PASSWORD
IMPERVA_GROUP_NAME=Blocked-IP-Addresses

# Palo Alto
PA_HOST=https://YOUR_PA_HOST
PA_API_KEY=YOUR_PA_API_KEY
PA_VSYS=vsys1
PA_GROUP=YOUR_PA_GROUP
PA_ADMIN=YOUR_PA_ADMIN

# Akamai
AKAMAI_BASEURL=https://YOUR_AKAMAI_BASEURL
AKAMAI_LIST_ID=YOUR_AKAMAI_LIST_ID
AKAMAI_CLIENT_TOKEN=YOUR_AKAMAI_CLIENT_TOKEN
AKAMAI_CLIENT_SECRET=YOUR_AKAMAI_CLIENT_SECRET
AKAMAI_ACCESS_TOKEN=YOUR_AKAMAI_ACCESS_TOKEN
AKAMAI_ACCOUNT_SWITCH=

# === Mock Mode (1: Aktifkan Mock untuk mitigasi perimeter, 0: Real API) ===
MINISOAR_MOCK=1

# === Blocking Mode (AUTO: Auto block, SEMI: Recommendation, MANUAL: Operator click) ===
MINISOAR_BLOCKING_MODE=AUTO

# === Penjadwalan Commit / Aktivasi (dalam detik, default: 3600) ===
MINISOAR_COMMIT_INTERVAL=3600

